/* 
    In this script there're several sections:
    - imports
    - variables
    - elements
    - classes
    -- common
    -- navigation
    - fixes (for parts of site that comes from 3rd party)

    This style is used by gantry5 custom style compiler. For short info, 
    this script is linked in user/data/gantry5/themes/g5_hydrogen/scss/custom.scss,
    and compilation are fired in site admin/gantry/configurations/default/styles
*/

/* 
    IMPORTS
*/

@font-face {
    font-family: 'atkinson';
    src: url('./fonts/atkinson_hyperlegible/Atkinson-Hyperlegible-Regular-102a.woff2');
}

/* 
    # VARIABLES 
*/

:root{
    --font-default: 'atkinson'; /*  */
    --font-size-default: 1.1rem;
    --font-size-large: 1.3rem;
    --font-size-xlarge: 1.5rem;
    --font-size-xxlarge: 1.7rem;
    --color-dark: #724049;
    --color-text: #3b3b3b;
    --color-accent: #E5989B;
    --color-accent-second: #B5838D;
    --color-accent-second-alfa: rgba(181, 131, 141, 0.4);
    --color-accent-light: #ffb4a2;
    --color-accent-light-second-alfa: rgba(247, 187, 153, 0.3);
    --border-accent: 1px solid var(--color-accent);
}

/* 
    # ELEMENTS 
*/

body{
    font-family: var(--font-default) !important;
    font-size: var(--font-size-default) !important;
    color: var(--color-text) !important;
}

h1, h2, h3, h4, h5{color: var(--color-accent-second) !important;}

a{color: var(--color-text); text-decoration: underline;}
a:hover{color: var(--color-accent); text-decoration: none;}

main{
    padding: 10px !important;
    border-left: var(--border-accent);
    border-right: var(--border-accent);
    min-height: 65vh;
}
main *{
    max-width: 1100px !important;
    margin: 20px auto !important;
}

/* 
    # CLASSES 
*/

/* 
    ## COMMON
*/

.app-text-right{
    text-align: right !important;
}

/* 
    ## NAVIGATION
*/

.app-navigation{
    background-color: var(--color-dark) !important;
    border-bottom: 1px solid var(--color-accent-second) !important;
    padding: 15px;
    color: white !important;
    height: 90px;
}
.app-navigation *{
    padding: 0px !important;
    margin: 0px !important;
    width: 100%;
}

.app-navigation .app-languages, .app-navigation .app-languages ul{
    height: 60px;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
}
.app-navigation .app-languages li{
    width: auto;
    margin: auto !important;
}
.app-navigation .app-languages *{
    color: white !important;
}

.app-navigation .app-title{
    font-size: var(--font-size-medium) !important;
}

.app-navigation .app-logo{
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.app-nav-menu *{
    font-size: var(--font-size-default);
    height: 100% !important;
}
.app-nav-menu a{
    padding: 10px 15px !important;
}
.app-nav-menu li{
    width: auto;
}
.app-nav-menu li:hover{
    background-color: none;
}
.app-nav-menu .g-menu-item-type-link:hover{
    background-color: var(--color-accent-light-second-alfa) !important;
}
.app-nav-menu .active *{
    background-color: var(--color-accent-light) !important;
    color: var(--color-dark) !important;
}
.app-nav-menu nav{
    display: flex !important;
}
.app-nav-menu ul{
    height: auto !important;
    margin: auto !important;
}

/*
    FIXES
*/

.langswitcher{
    top: 0% !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    margin-left: 1rem;
}

